@use "./partials/variables" as *;
@use "./partials/mixins" as *;

// bootstrap
@import "~bootstrap/scss/bootstrap";

@import "./partials/admin-index";
@import "./partials/dishes-index";
@import "./partials/dishes-show";

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $grey8;
}

html {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    background-color: $grey1;

    nav {
        background-color: $light;
    }
}

// Sections
section {
    padding: 28px 10px;
}

.page-title {
    @include title-semi;
    margin-bottom: 20px;

    display: flex;
    align-items: flex-start;
    gap: 20px;
}
